@model HtmlString
    @{
        ViewBag.Title = "Calendar";
    }
    <div class="wrapper col3">
        <div id="container">
            <div>
                <h3>Note: Hover over a calendar item for additional details.</h3>
            </div>
            <div id='calendar'></div>
        </div>
    </div>

    <style type='text/css'>
        body {
            margin-top: 40px;
            font-size: 14px;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #calendar {
            width: 900px;
            margin: 0 auto;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                weekends: 'false',
                events: @Model,
                editable: false,
                eventTextColor: '#FFFFFF',
                eventBackgroundColor: '#585C3F',
                eventBorderColor: '#585C3F',
                eventRender: function(event, element) {
                    element.attr('title', event.title + ' ' + event.starttime + ' - ' + event.endtime + ' ' + event.location);
                    element.css('cursor', 'pointer');
                }
            });
        });
    </script>



















