@{
    ViewBag.Title = "Additional Dog(s) Permit Application";
}

<div class="wrapper col3">
    <div id="container">
        <h1>@ViewBag.Title</h1>
        <h2 class="noprint">@ViewBag.Message</h2>
        <p>
            City regulations allow households to have up to three dogs properly licensed in the city limits.
            Additional dogs require residents to obtain a permit to house up to three more dogs.
            The following form is used to obtain the permits. You may print the form and bring it to City Hall
            or get the form at City Hall during regular business hours.
        </p>
        <p>
            CORINNE CITY<br />
            <br />
            ADDITIONAL HOUSEHOLD PET PERMIT APPLICATION<br />
            <br />
            DATE:______________________________<br />
            <br />
            NAME:___________________________________________________________________________<br />
            <br />
            ADDRESS:________________________________________________________________________<br />
            <br />
            PHONE:__________________________________________________________________________<br />
            <br />
            NUMBER OF DOGS:________ $10 for each dog over three $__________<br />
            *Maximum of six (6) dogs<br />
            <br />
            Total Permit Fee:     $______________<br />
            <br />
            Signed permission form must accompany this application<br />
            <br />
            *********************************************************************************<br />
            <br />
            As owner of these animals, I, _________________________ certify that they will be cared for, vaccinated against rabies by a licensed
            veterinarian, and licensed with Corinne City. The area will be kept free from odor and noise. Corinne City animal Control Officer will
            be allowed to inspect the premises regularly for compliance with the ordinance. I understand that this permit may be revoked by the
            Animal Control Officer for non-compliance with the ordinance or for complaints received from neighbors.<br />
            <br />
            SIGNED_______________________________________<br />
            <br />
            (Pet Owner)<br />
            <br />
            *********************************************************************************<br />
            <br />
            Permit #________________Reciept#_____________Date Issued_______________<br />
        </p>
    </div>
</div>

