@{
    ViewBag.Title = "Business License Application";
}

<div class="wrapper col3">
    <div id="container">
        <h1>@ViewBag.Title</h1>
        <h2 class="noprint">@ViewBag.Message</h2>
        CORINNE CITY<br />
        <br />
        BUSINESS LICENSE APPLICATION<br />
        <br />
        YEAR ____________   DATE________________<br />
        <br />
        NEW______________   RENEWAL__________<br />
        <br />
        BUSINESS NAME: _______________________________________________<br />
        <br />
        NATURE OF BUSINESS: ___________________________________________________<br />
        <br />
        BUSINESS PHYSICAL ADDRESS: ___________________________________________________<br />
        <br />
        BUSINESS MAILING ADDRESS: ___________________________________________________<br />
        <br />
        BUSINESS PHONE: ____________________________________________________<br />
        <br />
        HOME PHONE: _____________________________________________________<br />
        <br />
        OWNER/MANAGER NAME PRINTED: _____________________________________________________<br />
        <br />
        OWNER/MANAGER SIGNATURE: _____________________________________________________<br />
        <br />
        ************************************************************************<br />
        <br />
        - OFFICE USE ONLY –<br />
        <br />
        HOME BUSINESS	                                              	 $25.00 _________<br />
        <br />
        COMMERCIAL BUSINESS                                $25.00	 _________<br />
        <br />
        CLASS A BEER LICENSE (Off premises)	$100.00	___________<br />
        <br />
        CLASS B BEER LICENSE (On premises)	$100.00	___________<br />
        <br />
        CLASS D BEER LICENSE (Sunday beer)	$150.00	___________<br />
        <br />
        FIRE INSPECTION                                        $10.00	__________<br />
        <br />
        PENALTY FEE OF 50% (If paid after January 1st.) _________<br />
        <br />
        TOTAL LICENSE FEE _____________<br />
        <br />
        * After January 31st a $50.00 citation will be issued.
    </div>
</div>

            
