@{
    ViewBag.Title = "Conditional Use Permit";
}

<div class="wrapper col3">
    <div id="container">
        <div>
            <div>
                <h1>@ViewBag.Title</h1>
                <h2 class="noprint">@ViewBag.Message</h2>
                <p>
                    A condensed version can be obtained from the office.<br />
                    CORINNE CITY CORPORATION<br />
                    CONDITIONAL USE PERMIT APPLICATION<br />
                </p>
                Recorder: _____________________<br />
                <br />
                Planning and Zoning Commission Appointment: ______________Public Hearing Date: _________<br />
                <br />
                Applicant: ____________________<br />
                <br />
                Date:_____________________________Public Hearing  $25.00<br />
                <br />
                Name:__________________Home Business              $50.00<br />
                <br />
                Address:________________Commercial Business      $150.00<br />
                <br />
                _____________________________Other               $150.00<br />
                <br />
                Phone:_______________________Specify____________________<br />
                <br />
                Present Use of Property:________________________________________________________________<br />
                <br />
                ________________________________________________________________________________________<br />
                <br />
                Acreage of Property_______________________<br />
                <br />
                Explain the proposed conditional use of the property:<br />
                <br />
                ________________________________________________________________________________________<br />
                <br />
                ________________________________________________________________________________________<br />
                <br />
                ________________________________________________________________________________________<br />
                <br />
                Note: The applicant must submit a plat map from the County Recorder’s Office which accurately delineates the property and a detailed site plan showing uses,
                buildings, structures, access ways, etc. (see instructions on back)<br />
                <br />
                Planning and Zoning Commission:<br />
                <br />
                Zoning of Property:     __________<br />
                <br />
                Plat Map Received:      __________ DECISION: ____________<br />
                <br />
                Site Plan Received:     __________<br />
                <br />
                Public Hearing:         __________<br />
                <br />
                Conditions pertaining to this permit: ___________________________________________________<br />
                <br />
                _________________________________________________________________________________________<br />
                <br />
                _________________________________________________________________________________________<br />
                <br />
                By signing, I agree that information provided on this application to be true and correct to the best of my knowledge. I acknowledge that I have entered into
                an agreement with Corinne City Corporation, and will comply with conditions as stated on this permit as well as all Ordinances, Resolutions, Fire Codes,
                Health Standards, and Building Codes. I understand that if at any time the Corinne City Council or Planning and Zoning Commission deem it necessary to reopen this
                application for review or to update information within the permit in order to abide with newly written laws, ordinances, resolutions, or guidelines, they may do so
                at their request at no additional charge to me.<br />
                <br />
                DATE: ___________________Council Approved ________<br />
                <br />
                ________________________________________________________<br />
                <br />
                Applicant  Chairman  Mayor
            </div>
        </div>
    </div>
</div>

            
