@model CorinneCity.Controllers.ThreeVThreeObject
@{
	ViewBag.Title = "3 v 3 Basketball Tournament";
}

<div class="wrapper col3">
	<div id="container">
		<h1>@ViewBag.Title</h1>
		On @Model.Date, the city will be hosting a 3 v 3 basketball tournament at City Hall starting at @Model.Time.
		Registration will take place just prior to the first games, so get your team together and come find out
		who the best ballers are!
	</div>
</div>
