@model CorinneCity.Controllers.ThreeVThreeObject
@{
	ViewBag.Title = "3 v 3 Basketball Tournament";
}

<div class="wrapper col3">
	<div id="container">
		<h1>@ViewBag.Title</h1>
		<table>
			<tr>
				<td>
					On @Model.Date, the city will be hosting a 3 v 3 basketball tournament at Flack Park starting at @Model.Time.
					Registration needs to be turned in to City Hall no later than 11 AM the day before the tournament starts. Get your team together and come find out
					who the best ballers are!<br />
				</td>
			</tr>
			<tr>
				<td align="center">
					<img src="~/Images/aarongordon.gif" alt="Awesome dunk" style="margin-left: 30px" />
				</td>
			</tr>
		</table>
	</div>
</div>
